.wrapper {
    text-align: center;
    padding: 40px;
    color: #4bd963;
    .icon {
        font-size: 80px;
    }
    .content {
        font-size: 14px;
        padding: 12px 0;
        font-weight: bold;
    }
}
