.wrapper {
    max-width: 1290px;
    padding: 60px 0 0;
    margin: 0 auto;

    .header {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;

        .icon-bolt {
            transform: translateY(25%);
            color: rgb(255, 94, 0);
        }

        .time {
            padding-top: 20px;
            font-size: 20px;
            display: flex;
            justify-content: center;
        }
    }

    .body {
        margin-top: 24px;
        display: flex;

        .wrapper-title {
            position: relative;
            height: 530px;
            width: 80px;
            transform: translateX(99%);
            margin-right: 18px;

            .title {
                position: absolute;
                width: 530px;
                height: 80px;
                left: 0;
                bottom: 0;
                z-index: 99;
                transform: rotate(270deg);
                transform-origin: left bottom;
                text-transform: uppercase;
                line-height: 34px;

                p {
                    font-size: 16px;
                    color: #c4c2c2;
                    font-weight: 300;
                }

                h2 {
                    font-size: 36px;
                    color: #c4c2c2;
                }
            }
        }

        .products {
            display: flex;
            flex: 1;
            margin: auto;
            overflow: hidden;
            position: relative;
            flex-wrap: nowrap;

            .products-list {
                display: flex;
                flex: 1;
                transition: all 0.5s ease;
                // transform: translateX(-60%);
                /* position: relative;
                flex-wrap: nowrap; */
            }

            .next,
            .prev {
                position: absolute;
                top: 45%;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                border-radius: 50%;
                z-index: 3;
                color: var(--whiteColor);
                background-color: rgba(0, 0, 0, 0.3);
            }

            .next {
                right: 0;
            }

            .prev {
                left: 0;
            }
        }
    }
}
