.wrapper {
    width: 1290px;
    margin: 60px auto;
    display: flex;
    .left {
        width: 34%;
        margin: auto;
        .header {
            font-weight: 700;
            text-align: center;
            font-size: 18px;
            margin-bottom: 28px;
            .title {
                margin-top: 12px;
                text-align: center;
                font-size: 28px;
            }
        }
        .body {
            text-align: center;
            font-weight: 300;
        }
        .buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            .btn {
                font-size: 18px;
                padding: 20px 30px;
                background-color: var(--blackColor);
                color: var(--whiteColor);
                font-weight: 700;
                margin: 4px;
                border-radius: 8px;
                margin-top: 18px;
                border: none;
                box-shadow: 0 0 5px var(--blackColor);
                &:hover {
                    box-shadow: 0 0 5px #4bd963;
                    background-color: #4bd963;
                }
            }
        }
    }
    .right {
        padding: 8px;
        flex: 1;
        display: flex;
    }
}
