.wrapper {
    width: 100%;
    margin-top: 186px;
    background-image: url('https://bizweb.dktcdn.net/100/505/077/themes/934930/assets/section_breadcrumb.jpg?1708418149368');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.054);
    }
    .header {
        margin: auto 0;
        text-align: center;
        font-weight: 500;
    }
    .name {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 24px;
    }
    .title {
        font-size: 14px;
    }
    .icon {
        font-size: 4px;
        margin: 0 8px;
    }
    .about {
        opacity: 0.5;
        display: inline;
    }
}
