.wrapper {
    margin-top: 34px;
    background-image: url('https://bizweb.dktcdn.net/100/505/077/themes/934930/assets/aside_banner.png?1708418149368');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 375px;
    margin-bottom: 34px;
}
