.wrapper {
    flex: 1;
    min-height: 400px;
    padding-left: 14px;
    .header {
        display: flex;
        width: 100%;
        border: 1px solid rgb(218, 218, 218);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        .layout {
            display: flex;
            .icon {
                font-size: 16px;
                width: 35px;
                height: 35px;
                border: 1px solid rgb(218, 218, 218);
                border-radius: 4px;
                margin-right: 6px;
                text-align: center;
                line-height: 35px;
                &:hover {
                    background-color: #03177e;
                    color: var(--whiteColor);
                }
            }
        }
        .arrange {
            display: flex;
            align-items: center;
            .title {
                color: #333333;
                font-weight: 600;
            }
            select {
                min-width: 196px;
                border-color: rgb(218, 218, 218);
                height: 37px;
                margin-left: 12px;
                color: #333333;
                padding: 0 15px;
                font-size: 14px;
            }
        }
    }
    .body {
        display: flex;
        flex-wrap: wrap;
        margin: 28px 0;
    }
}
