.wrapper {
    display: flex;
    width: 1290px;
    justify-content: center;
    margin: 90px auto;

    .item {
        flex: 1;
        font-size: 14px;
        .wrapper-img {
            display: flex;
            width: 100%;
            justify-content: center;
            img {
                width: 90px;
                height: 30px;
                object-fit: contain;
            }
        }
        .title {
            width: 100%;
            text-align: center;
            margin: 6px 0;
            font-weight: 800;
            font-size: 20px;
        }
        .content {
            width: 100%;
            text-align: center;
        }
    }
}
