.wrapper {
    min-height: 300px;
    width: 100%;
    width: 1290px;
    margin: 190px auto 6px auto;
    display: flex;
    .right {
        width: 25%;
        height: auto;
    }
    .left {
        height: auto;
        width: 75%;
        padding-right: 24px;
    }
}
