.header-search {
    display: flex;
    height: 100px;
    background-color: rgba(3, 23, 126, 0.85);
    align-items: center;
    justify-content: center;
    animation: slideIn 0.6s ease;
}
input {
    width: 600px;
    height: 40px;
    border-radius: 4px;
    padding: 0 0 0 18px;
    max-width: 100%;
    font-size: 14px;
    position: relative;
    box-shadow: 0 0 3px rgb(170, 170, 170);
    border: none;
    outline: none;
}
.icon-search {
    position: absolute;
    top: 30px;
    right: 444px;
    height: 40px;
    width: 40px;
    // background-color: black;
    display: flex;
    align-items: center;
    svg {
        color: #4bd963;
        margin: auto;
        font-size: 18px;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
