.image-container {
    position: relative;
    display: inline-block;
    margin-top: 180px;
}

.main-image {
    display: block;
    width: 645px;
    height: 555px;
}

.hover-box {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid #fff;
    pointer-events: none;
}

.preview-box {
    display: none;
    position: absolute;
    top: 10px; // Adjust to position the preview box correctly
    left: calc(100% + 10px); // Adjust to position the preview box correctly
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    overflow: hidden;
    pointer-events: none;
    background-position: center;
    background-size: 500%;
    // transform: scale(1.5);
    object-fit: contain;
}

.image-container:hover .preview-box {
    display: block;
    background-repeat: no-repeat;
}
