.wrapper {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 1290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--whiteColor);
    border-radius: 30px;
    padding: 0 28px 0 28px;
    position: relative;

    .list {
        display: flex;
        align-items: center;
        list-style-type: none;
        font-weight: 600;
        padding: 0;
        .item {
            height: 100%;
            line-height: 60px;
            padding: 0 20px;
            font-size: 12px;
            &:hover {
                background-color: rgba(42, 0, 0, 0.219);
                color: #4bd963;
            }
            .icon {
                margin-left: 2px;
            }
        }

        .item-products:hover .product-content {
            display: block;
        }
    }
    .search {
        float: right;
        font-size: 18px;
    }
}

.product-content {
    display: none;
}

.item-news {
    position: relative;
}

.news-content {
    display: block;
    position: absolute;
    background-color: black;
    // transform: scaleY(0); /* Hiển thị nội dung với kích thước ban đầu */
    // transform-style: preserve-3d;
    // transition: all 0.5s ease;
    // transform-origin: top;

    transform: perspective(1000px) rotate3d(1, 0, 0, -90deg); /* Ẩn nội dung ban đầu */
    transform-origin: top;
    transition: transform 0.5s ease-in-out;
}

.item-news:hover .news-content {
    display: block;
    // transform: scaleY(1); /* Ẩn nội dung khi không hover */
    transform: perspective(1000px) rotate3d(1, 0, 0, 0deg); /* Hiển thị nội dung với hiệu ứng lật từ trên xuống */
}
