.wrapper {
    width: 1290px;
    margin: 0 auto 80px auto;
    .header {
        height: 80px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 8px;
        .title {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 30px;
        }
        .all {
            font-size: 16px;
            color: #333;
            position: relative;
            opacity: 0.8;
            text-transform: uppercase;
            &::after {
                content: '';
                position: absolute;
                top: 53%;
                left: -38%;
                width: 30px;
                height: 0.5px;
                opacity: 0.6;
                background-color: #333;
            }
        }
    }
    .products {
        display: flex;
        margin: 0 auto;
        width: 100%;
    }
}
